.btn {
  position: relative;
  display: inline-block;
  padding: 12px 20px 11px;
  font-family: 'Futura Demi';
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background: $primary;
  color: $light;
  box-shadow: 0px 5px 15px rgba($primary, 0.2);
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: $time;
  &:hover {
    box-shadow: none;
  }
  &_outline {
    background: transparent;
    border: 1px solid $light; 
    box-shadow: none;
    &:hover {
      text-shadow: 0 0 15px $light;
      background: $dark;
    }
  }
  &_big {
    padding: 17px 26px;
  }
  &_modal {
    padding: 19px 47px 17px;
  }
  &_flare {
    position: relative;
    overflow: hidden;
    animation: Brightness 4s linear 1s infinite;
    &::before,
    &::after {
      @include pseudo;
      top: 0;
      left: -200px;
      width: 60px;
      height: 100%;
      background: $light;
      filter: blur(40px);
      transform: skewX(-30deg);
    }
    &::after {
      animation: Flare 4s linear infinite;
    }
    &::before {
      animation: Flare 4s linear 0.5s infinite;
    }
  }
  @include media('sm') {
    border-radius: 0;
  }
}

@keyframes Flare {
  from {
    left: -150px;
  }
  75% {
    left: -150px;
  }
  to {
    left: calc(100% + 150px);
  }
}

@keyframes Brightness {
  50% {
    filter: none;
  }
  75% {
    filter: brightness(1.25);
  }
  to {
    filter: none;
  }
}

.top-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99;
  width: 50px;
  height: 50px;
  display: none;
  background: url('../img/top.svg') no-repeat center;
  background-size: cover;
  cursor: pointer;
  @include media('md') {
    width: 30px;
    height: 30px;
  }
}

.slider {
  &-nav {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include media('sm') {
      display: flex;
      justify-content: center;
    }
  }
  &-button {
    width: 41px;
    height: 13px;
    cursor: pointer;
    &-prev {
      margin-right: 29px;
      background: url('../img/arrow-left.svg') no-repeat center;
    }
    &-next {
      margin-left: 29px;
      background: url('../img/arrow-right.svg') no-repeat center;
    }
    &:focus {
      outline: none;
    }
  }
  &-chapters {
    &-text {
      width: 100%;
      max-width: 136px;
      opacity: 0.3;
      cursor: pointer;
      &_active {
        opacity: 1;
      }
      &__number {
        margin-bottom: 12px;
        display: inline-block;
        font-family: 'Yeseva One';
        font-size: 15px;
        text-transform: uppercase;
        border-bottom: 1px solid $primary;
      }
      &:last-child {
        max-width: 100px;
      }
    }
    &__text {
      margin-bottom: 43px;
    }
    &__row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgba($light, 0.3);
  cursor: pointer;
  margin-right: 18px;
  &:last-child {
    margin-right: 0;
  }
  &-active {
    background: $light;
  }
  &:focus {
    outline: none;
  }
}