.btn {
  display: inline-block;
  padding: 12px 20px 11px;
  font-family: 'Futura Demi';
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  background: $primary;
  color: $light;
  box-shadow: 0px 5px 15px rgba($primary, 0.2);
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: $time;
  &:hover {
    box-shadow: none;
  }
  &_outline {
    background: transparent;
    border: 1px solid $light; 
    box-shadow: none;
    &:hover {
      background: $dark;
    }
  }
  &_big {
    padding: 17px 26px;
  }
  &_modal {
    padding: 19px 47px 17px;
  }
  @include media('sm') {
    border-radius: 0;
  }
}