*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Futura Book', sans-serif;
  font-size: 15px;
  @include media('sm') {
    font-size: 13px;
  } 
}

mark {
  background: transparent;
  color: $primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Yeseva One', cursive;
  font-weight: normal;
}

img {
  width: 100%;
}

a, button {
  &:focus {
    outline: none;
  }
}

.dark-section {
  background-color: $dark;
  color: $light;
}

.section {
  position: relative;
  &__heading {
    margin-bottom: 30px;
    @include media('sm') {
      margin-bottom: 40px;
    }
  }
  &__subtitle {
    margin: 0 auto 47px;
    padding: 0 20px;
    font-size: 20px;
    text-align: center;
    line-height: 1.35;
    color: $grey;
    @include media('md') {
      font-size: 18px;
    }
    @include media('sm') {
      font-size: 15px;
      margin-bottom: 36px;
    }
  }
}

.section-heading {
  text-align: center;
  &_light {
    color: $light;
  }
  &__title {
    margin: 0 0 13px;
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
    text-transform: uppercase;
    @include media('sm') {
      margin-bottom: 18px;
      font-size: 22px;
    }
  }
  &__img {
    position: relative;
    display: inline-block;
    &::after, &::before {
      @include pseudo;
      width: 32px;
      height: 2px;
      top: 50%;
      background: $primary;
    }
    &::after {
      left: -42px;
    }
    &::before {
      right: -42px;
    }
  }
}

.card {
  &__img {
    position: relative;
    width: 100%;
    height: 29.24vw;
    overflow: hidden;
    @include media('md') {
      height: 365px;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }
  &__text {
    position: relative;
    width: 84%;
    margin: -127px auto 0;
    padding: 25px 8% 53px;
    background: $light;
    box-shadow: 10px 10px 20px rgba($darken, 0.03);
    @include media('xl') {
      font-size: 14px;
    }
    @include media('lg') {
      width: 100%;
      margin-top: 0;
    }
    @include media('sm') {
      width: 80%;
      margin-top: -141px;
      padding: 21px 9% 35px;
      margin-left: 0;
    }
  }
  &__title {
    margin: 0 0 11px;
    font-size: 18px;
    color: $grey;
    white-space: nowrap;
    @include media('xl') {
      font-size: 16px;
    }
    @include media('lg') {
      font-size: 15px;
    }
  }
  &__list {
    margin: 0;
    padding-left: 15px;
    color: $secondary;
    @include media('sm') {
      font-size: 13px;
    }
  }
  &__item {
    margin-bottom: 8px;
  }
  &__label {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 69%;
    height: 55px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    text-transform: uppercase;
    color: $light;
    background: $primary;
    box-shadow: 5px 5px 10px rgba($primary, 0.3);
    transform: translateY(50%);
    @include media('xl') {
      font-size: 16px;
    }
    @include media('sm') {
      width: 71%;
      height: 40px;
      font-size: 15px;
    }
  }
}

.form {
  &-item {
    position: relative;
  }
  &__policy {
    margin-top: 16px;
  }
}

.label {
  display: block;
  font-size: 15px;
  color: rgba($grey, 0.5);
  &_light {
    color: rgba($light, 0.5);
  }
}

.input {
  width: 100%;
  padding: 6px 0;
  background: transparent;
  border: none;
  font-family: 'Futura Medium';
  font-size: 18px;
  border-bottom: 1px solid rgba($grey, 0.3);
  @include input-placeholder {
    opacity: 1;
    color: $grey;
  } 
  &_light {
    color: $light;
    border-bottom-color: rgba($light, 0.15);
    @include input-placeholder {
      opacity: 1;
      color: $light;
    } 
  }
}

.policy {
  position: relative;
  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    visibility: hidden;
    &:checked + .policy__label::before {
      background: $primary url('../img/check.svg') no-repeat center;
      background-size: 80%;
    }
  }
  &__label {
    font-size: 16px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    &::before {
      content: '';
      position: relative;
      display: block;
      margin-right: 9px;
      width: 18px;
      height: 18px;
      border-radius: 1px;
      background: $primary;
    }
  }
}

.heading-decorate {
  &__suptitle {
    display: block;
    margin-bottom: 16px;
    font-size: 15px;
    font-family: 'Futura Demi';
    text-transform: uppercase;
  }
  &__title {
    position: relative;
    width: 100%;
    max-width: 253px;
    margin: 0;
    font-size: 27px;
    line-height: 1.37;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: $primary;
    @include media('lg') {
      margin-right: auto;
      margin-left: auto;
      font-size: 24px;
    }
    @include media('sm') {
      font-size: 22px;
    }
    &::after {
      @include pseudo;
      right: 0;
      bottom:18px;
      width: 92px;
      height: 1px;
      background: $primary;
      @include media('lg') {
        display: none;
      }
    } 
  }
  &__text {
    max-width: 442px;
    margin: 24px 0 0;
    font-size: 18px;
    line-height: 1.61;
    @include media('xl') {
      width: 90%;
    }
    @include media('lg') {
      max-width: 80%;
      margin: 24px auto 0;
    }
    @include media('sm') {
      font-size: 14px;
    }
  }
  @include media('lg') {
    text-align: center;
  }
  &-title {
    &_narrow {
      max-width: 305px;
      letter-spacing: 0;
    }
  }
}

.swiper-slide {
  img {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
}

.invalid {
  color: $invalid;
}

div.invalid {
  position: absolute;
  width: 100%;
  bottom: -15px;
  text-transform: uppercase;
  font-size: 12px;
}

input.invalid {
  border-bottom-color: $invalid;
}

.error {
  color: $error;
}

.load {
  position: absolute;
  display: none;
  right: 10px;
  top: 50%;
  margin-top: -16px;
  width: 32px;
  height: 32px;
}

.success {
  color: $success;
}