@import 'normalize';

@import 'vars';

@import 'mixins';

@import 'grid';

@import 'fonts';

/* Interface */

@import 'interface';

/* Header */

@import 'sections/header';

/* Hero */

@import 'sections/hero';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Futura Book', sans-serif;
  font-size: 14px; 
}

mark {
  background: transparent;
  color: $primary;
}

.dark-section {
  color: $light;
}