.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 21px 0;
  font-size: 14px;
  background: $dark;
  @include media('xl') {
    font-size: 12px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Futura Demi';
  text-transform: uppercase;
  color: $primary;
}

.nav {
  &__item {
    margin-right: 2.57vw; //37px;
    text-transform: uppercase;
    text-decoration: none;
    color: $light;
    transition: $time;
    &:hover {
      color: $primary;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  @include media('md') {
    display: none;
  }
}

.phone {
  font-family: 'Futura Demi';
  color: $primary;
  &:hover {
    text-decoration: none;
  }
}

.contacts {
  &__phone {
    margin-right: 45px;
    @include media('xl') {
      margin-right: 20px;
    }
    @include media('lg') {
      margin-right: 0;
    }
    @include media('md') {
      text-decoration: none;
      color: $light;
    }
  }
  &__btn {
    @include media('lg') {
      display: none;
    }
  }
}