.special {
  position: relative;
  padding: 100px 0 242px;
  background: url('../img/bg-special.png') no-repeat top left;
  @include media('xl') {
    padding: 50px 0 150px;
    background-position: top -30px left 0;
  }
  @include media('lg') {
    display: none;
  }
  &__wrapper {
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
    @include media('xl') {
      justify-content: space-between;
    }
  }
  &__list {
    position: absolute;
    top: 50px;
    left: -156px;
    width: 636px;
    height: 636px;
    background: url('../img/rect.svg') no-repeat top right;
    @include media('xxl') {
      left: -340px;
    }
    @include media('xl') {
      width: auto;
      height: auto;
      background: none;
      position: static;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &-item {
      position: absolute;
      display: flex;
      align-items: center;
      transform: translateX(100%);
      @include media('xl') {
        position: static;
        transform: translateX(0%);
      }
      &-1 {
        top: 9.75%;
        right: 19.34%;
      }
      &-2 {
        top: 27.2%;
        right: 7.63%;
      }
      &-3 {
        top: 52.52%;
        right: 3.3%;
      }
      &-4 {
        top: 77.67%;
        right: 13.84%;
      }
    }
    &-number {
      width: 42px;
      height: 42px;
      margin-right: 17px;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      font-family: 'Yeseva One', cursive;
      border-radius: 50%;
      background: $primary;
      color: $light;
    }
    &-text {
      max-width: 365px;
      font-family: 'Futura Medium';
      font-size: 18px;
      color: $grey;
    }
  }
  &__money {
    max-width: 415px;
    display: flex;
    align-items: center;
    margin: 38px 0 0 32px;
    @include media('xl') {
      display: none;
    }
    &-icon {
      width: 72px;
      height: 72px;
      margin-right: 25px;
      flex-shrink: 0;
      background: $primary url('../img/money.svg') no-repeat center;
      box-shadow: 0px 10px 20px rgba($primary, 0.2);
      border-radius: 50%;
    }
    &-text {
      font-family: 'Futura Demi', sans-serif;
      font-size: 20px;
      color: $primary;
      text-shadow: 0px 3px 10px rgba($primary, 0.15);
    }
  }
  &__feedback {
    width: 420px;
  }
}