.styles {
  position: relative;
  padding: 137px 0 98px;
  background: url('../img/bg-styles.jpg') no-repeat center / cover;
  @include media('lg') {
    display: none;
  }
  &::after {
    @include pseudo;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120.96deg, rgba($darken, 0.75) 0%, rgba($darken, 0.9) 100%);
  }
  &__wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  &__left {
    max-width: 40.76vw;
  }
  &__right {
    flex-grow: 1;
  }
  &__title {
    max-width: 415px;
    margin: 0 0 41px;
    font-size: 27px;
    text-transform: uppercase;
    line-height: 1.37;
    color: $primary;
  }
  &__pagination {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__pagination-item {
    position: relative;
    display: inline-block;
    padding: 0;
    margin-bottom: 25px;
    line-height: 1;
    color: $light;
    font-size: 24px;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    @include media('xl') {
      margin-bottom: 20px;
    }
    &::before {
      @include pseudo;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 1px;
      background: $primary;
      transition: 0.5s;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      color: $primary;
    }
    &:hover::before {
      width: 65%;
    }
    &_active {
      color: $primary;
      &::before {
        width: 65%;
      }
    }
  }
  &-slider {
    position: absolute;
    top: -137px;
    right: 10px;
    width: 52.15vw;
    height: 100%;
    @include media('xl') {
      top: 0;
      right: 0;
      margin-top: 60px;
      position: relative;
      width: 100%;
      height: 400px;
    }
    &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      display: flex;
      justify-content: space-between;
      align-content: flex-start;
      flex-wrap: wrap;
      &_active {
        opacity: 1;
      }
      @include media('xl') {

        height: 100%;
      }
    }
    &__img {
      position: relative;
      width: 47.14%;
      overflow: hidden;
      &-1 {
        top: -41px;
        height: 558px;
      }
      &-2 {
        top: -112px;
        height: 275px;
      }
      &-3 {
        top: -3px;
        height: 349px;
      }
      &-4 {
        top: -358px;
        height: 624px;
      }
      @include media('xl') {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        object-fit: cover;
      }
    }
  }
}

.styles-slider__item_active .styles-slider__img:nth-child(1) {
  animation: fadeInDown 0.5s linear;
}

.styles-slider__item_active .styles-slider__img:nth-child(2) {
  animation: fadeInDown 0.8s linear;
}

.styles-slider__item_active .styles-slider__img:nth-child(3) {
  animation: fadeInUp 0.8s linear;
}

.styles-slider__item_active .styles-slider__img:nth-child(4) {
  animation: fadeInUp 0.5s linear;
}

.styles-slider__item_active .styles-slider__img {
  @include media('xl') {
    animation: fadeIn 0.5s linear!important;
  }
}